# 1. Data & Model Weights
data/
*.zip
# Ignore PyTorch model checkpoints
*.pt
*.pth
*.ckpt
# Ignore TensorBoard/Training logs
logs/
runs/

# 2. Virtual Environments
# Ignore the environment and standard naming conventions
heart/
venv/
env/
.env

# 3. Python Cache
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# 4. Jupyter Notebooks
# Ignores the hidden auto-save checkpoints Jupyter makes
.ipynb_checkpoints/

# 5. OS & IDE Files
# VS Code workspace settings
.vscode/

# Mac specific junk file
.DS_Store